<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="DEBUG"/>

    <logger name="org.jooq" level="DEBUG"/>
    <logger name="org.jooq.Constants" level="OFF"/>
    <logger name="org.jooq.tools.JooqLogger" level="OFF"/>

    <logger name="com.example" level="DEBUG"/>

</configuration>